# Project for Data Analytics

## Step One: Creating a database

In [36]:
#Modules used
import mysql.connector
import pandas as pd
import fakeproject

In [40]:
mydb = mysql.connector.connect(
    host = 'localhost',
    port = '3306',
    user='root',
    password =fakeproject.psw)
cursor=mydb.cursor()
cursor.execute("SHOW DATABASES")

In [44]:
cursor.execute("CREATE DATABASE Project_EDA")
print("done")
cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i)

done
('information_schema',)
('mydatabase',)
('mysql',)
('new_schema',)
('newschema',)
('performance_schema',)
('project_eda',)
('sakila',)
('sys',)
('world',)

## Importing data into the new database

In [359]:
cursor.execute("USE project_eda")
alldata="""
CREATE TABLE CrashData (
    CRASH_DATE VARCHAR(255),
    CRASH_TIME VARCHAR(255),
    BOROUGH VARCHAR(255),
    ZIP_CODE VARCHAR(255),
    LATITUDE VARCHAR(255),
    LONGITUDE VARCHAR(255),
    ON_STREET_NAME VARCHAR(255),
    CROSS_STREET_NAME VARCHAR(255),
    OFF_STREET_NAME VARCHAR(255),
    NUMBER_OF_PERSONS_INJURED INT,
    NUMBER_OF_PERSONS_KILLED INT,
    NUMBER_OF_PEDESTRIANS_INJURED INT,
    NUMBER_OF_PEDESTRIANS_KILLED INT,
    NUMBER_OF_CYCLIST_INJURED INT,
    NUMBER_OF_CYCLIST_KILLED INT,
    NUMBER_OF_MOTORIST_INJURED INT,
    NUMBER_OF_MOTORIST_KILLED INT,
    CONTRIBUTING_FACTOR_VEHICLE_1 VARCHAR(255),
    CONTRIBUTING_FACTOR_VEHICLE_2 VARCHAR(255),
    VEHICLE_TYPE_CODE_1 VARCHAR(255),
    VEHICLE_TYPE_CODE_2 VARCHAR(255)
    );"""
cursor.execute(alldata)
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table[0])

crashdata

## Loading the data into the database

In [379]:
cursor.execute("SET sql_mode=''")
add_rows="""INSERT INTO crashdata VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
data=open(r"C:\Users\mikas\Downloads\crashdata1.csv",'r')
rows=data.readlines()
data.close()
for row in rows[1392063:]:
    # Split the row into values
    values = row.strip().split(',')   
    # Replace empty strings with None (NULL in SQL)
    values = [None if item == 'NULL' else item for item in values]
    cursor.execute(add_rows, tuple(values))
# Commit the transaction
    mydb.commit()

Programa luzo ties 398355, 470984,470987, 1392061, 1392062

In [317]:
df=pd.read_csv(r"C:\Users\mikas\Downloads\crashdata.csv")
df.head()

C:\Users\mikas\AppData\Local\Temp\ipykernel_10832\3877975192.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\mikas\Downloads\crashdata.csv")

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [96]:
df.fillna("NULL", inplace=True)

C:\Users\mikas\AppData\Local\Temp\ipykernel_10832\671174874.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NULL' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("NULL", inplace=True)

In [251]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

## Data Cleaning

This is due to the fact that the dataset contains over two million records of collisions, but most of the crash facts are null or unspecified, so getting rid of some of the empty columns or rows may be beneficial to our research and create a smaller, but more useful dataset

In [319]:
df = df.drop('LOCATION', axis=1)
df=df.drop(["VEHICLE TYPE CODE 3","VEHICLE TYPE CODE 4","VEHICLE TYPE CODE 5"],axis=1)
df=df.drop(["CONTRIBUTING FACTOR VEHICLE 3","CONTRIBUTING FACTOR VEHICLE 4","CONTRIBUTING FACTOR VEHICLE 5"],axis=1)
df=df.drop("COLLISION_ID",axis=1)

In [321]:
# df.dropna(subset=["BOROUGH"],inplace=True)
# df.dropna(subset=["VEHICLE TYPE CODE 1"],inplace=True)
# df.dropna(subset=["CONTRIBUTING FACTOR VEHICLE 1"],inplace=True)
# df.dropna(subset=["ZIP CODE"],inplace=True)
# df.dropna(subset=["LATITUDE"],inplace=True)

In [329]:
df["LATITUDE"]=df["LATITUDE"].astype(float)
df["LONGITUDE"]=df["LONGITUDE"].astype(float)
df["NUMBER OF PERSONS INJURED"]=df["NUMBER OF PERSONS INJURED"].astype('Int64')
df["NUMBER OF PERSONS KILLED"]=df["NUMBER OF PERSONS KILLED"].astype('Int64')
df["NUMBER OF PEDESTRIANS INJURED"]=df["NUMBER OF PEDESTRIANS INJURED"].astype('Int64')
df["NUMBER OF PEDESTRIANS KILLED"]=df["NUMBER OF PEDESTRIANS KILLED"].astype('Int64')
df["NUMBER OF CYCLIST INJURED"]=df["NUMBER OF CYCLIST INJURED"].astype('Int64')
df["NUMBER OF CYCLIST KILLED"]=df["NUMBER OF CYCLIST KILLED"].astype('Int64')
df["NUMBER OF MOTORIST INJURED"]=df["NUMBER OF MOTORIST INJURED"].astype('Int64')
df["NUMBER OF MOTORIST KILLED"]=df["NUMBER OF MOTORIST KILLED"].astype('Int64')

In [345]:
df.dropna(subset=["NUMBER OF PERSONS INJURED"],inplace=True)

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1426074 entries, 3 to 2141019
Data columns (total 21 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     1426074 non-null  object
 1   CRASH TIME                     1426074 non-null  object
 2   BOROUGH                        1426074 non-null  object
 3   ZIP CODE                       1426074 non-null  object
 4   LATITUDE                       1426074 non-null  float64
 5   LONGITUDE                      1426074 non-null  float64
 6   ON STREET NAME                 1426074 non-null  object
 7   CROSS STREET NAME              1426074 non-null  object
 8   OFF STREET NAME                1426074 non-null  object
 9   NUMBER OF PERSONS INJURED      1426074 non-null  Int64
 10  NUMBER OF PERSONS KILLED       1426074 non-null  Int64
 11  NUMBER OF PEDESTRIANS INJURED  1426074 non-null  Int64
 12  NUMBER OF PEDESTRIANS KILLED   1426074 non-null  Int64
 13  NUMBER OF CYCLIST INJURED      1426074 non-null  Int64
 14  NUMBER OF CYCLIST KILLED       1426074 non-null  Int64
 15  NUMBER OF MOTORIST INJURED     1426074 non-null  Int64
 16  NUMBER OF MOTORIST KILLED      1426074 non-null  Int64
 17  CONTRIBUTING FACTOR VEHICLE 1  1426074 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 2  1426074 non-null  object
 19  VEHICLE TYPE CODE 1            1426074 non-null  object
 20  VEHICLE TYPE CODE 2            1426074 non-null  object
dtypes: Int64(8), float64(2), object(11)
memory usage: 250.2+ MB

In [349]:
df.fillna("NULL", inplace=True)

In [353]:
df.to_csv(r"C:\Users\mikas\Downloads\crashdata1.csv",index=False)